.graph {
  overflow: hidden;
  margin-bottom: rem(60);
  border: rem(1) solid var(--grey-5);
  border-radius: rem(10);

  &__top {
    padding: rem(20) rem(15) rem(30);
  }

  &__left {
    @include flex-v-center;

    gap: rem(20);
  }

  &__bottom {
    max-height: rem(430);

    #graph {
      width: 100% !important;
    }
  }

  &__title {
    font-weight: 500;
    font-style: normal;
    font-size: rem(20);
    line-height: 1.2;
  }
}
