<div class="modal check-email">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        <h2 class="modal__title">Перевірте свою пошту</h2>

        <div class="modal__wrapper">
          <p class="modal__text">Ми надіслали інструкції щодо відновлення пароля на вашу електронну пошту.</p>

          <button class="modal__btn modal__btn--stroke btn btn--accent">ок</button>
        </div>
      </div>
    </div>
  </div>
</div>
