<div class="modal deposit modal--mobile">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>

        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        <h2 class="modal__title">Введіть суму поповнення</h2>

        <div class="modal__wrapper">
          <form class="modal__form">
            <div class="modal__field field">
              <div class="field__wrapper">
                <input
                  type="text"
                  id="form[email]"
                  class="field__input input"
                  placeholder="Ім’я"
                  inputmode="email"
                  data-input=""
                  required=""
                />
                <svg class="field__icon">
                  <use xlink:href="img/sprite.svg#warn"></use>
                </svg>
              </div>
            </div>

            <button class="modal__btn btn btn--accent">
              далі
              <svg class="btn__icon">
                <use xlink:href="img/sprite.svg#login"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
