<div class="modal login">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>

        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        <h2 class="modal__title">Вхід</h2>

        <div class="modal__wrapper">
          <form class="modal__form">
            <div class="modal__field field">
              <label class="field__label" for="form[email]">Пошта</label>
              <div class="field__wrapper">
                <input
                  type="text"
                  id="form[email]"
                  class="field__input input"
                  placeholder="Ім’я"
                  inputmode="email"
                  data-input=""
                  required=""
                />
                <svg class="field__icon">
                  <use xlink:href="img/sprite.svg#warn"></use>
                </svg>
              </div>
            </div>
            <div class="modal__field field">
              <label class="field__label" for="form[password]">Пароль</label>
              <div class="field__wrapper">
                <input
                  type="password"
                  id="form[password]"
                  class="field__input input"
                  placeholder="Пароль"
                  data-input
                  required
                />
                <svg class="field__icon">
                  <use xlink:href="img/sprite.svg#warn"></use>
                </svg>
              </div>
            </div>

            <div class="modal__confirm">
              <label class="modal__checkbox checkbox">
                <input type="checkbox" value="" class="checkbox__input" />
                <div class="checkbox__block">
                  <span class="checkbox__checkmark checkbox__checkmark--default">
                    <svg><use xlink:href="img/sprite.svg#checkbox-default"></use></svg>
                  </span>
                  <span class="checkbox__checkmark checkbox__checkmark--active">
                    <svg><use xlink:href="img/sprite.svg#checkbox-active"></use></svg>
                  </span>
                </div>
                <span class="checkbox__value">Запам’ятати мене</span>
              </label>

              <a href="#" class="modal__link">
                Забули пароль?
                <svg class="modal__link-svg">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>

            <button class="modal__btn btn btn--accent">
              <svg class="btn__icon">
                <use xlink:href="img/sprite.svg#login"></use>
              </svg>
              Увійти
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
