<div class="maintenance">
  <div class="maintenance__content">
    <div class="maintenance__top">
      <h2 class="maintenance__title">Математика</h2>
      <button class="maintenance__close" aria-label="Закрити зміст">
        <svg class="maintenance__close-svg">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="maintenance__class">8 клас</div>
    </div>
    <div class="maintenance__bottom" data-simplebar>
      <ol class="maintenance__list">
        <li class="maintenance__item">
          <button class="maintenance__btn" aria-expanded="false" aria-label="Відкрити розділ">
            <span class="maintenance__btn-num"></span>
            Повторення і систематизація навчального матеріалу з курсу 7 класу
            <div class="maintenance__icon">
              <svg class="maintenance__icon-svg">
                <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
              </svg>
            </div>
          </button>
          <div class="maintenance__block">
            <ol class="maintenance__sublist">
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
            </ol>
          </div>
        </li>
        <li class="maintenance__item">
          <button class="maintenance__btn">
            <span class="maintenance__btn-num"></span>
            Раціональні вирази
            <div class="maintenance__icon">
              <svg class="maintenance__icon-svg">
                <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
              </svg>
            </div>
          </button>
          <div class="maintenance__block">
            <ol class="maintenance__sublist">
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
            </ol>
          </div>
        </li>
        <li class="maintenance__item">
          <button class="maintenance__btn">
            <span class="maintenance__btn-num"></span>
            Множини і операції над ними
            <div class="maintenance__icon">
              <svg class="maintenance__icon-svg">
                <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
              </svg>
            </div>
          </button>
          <div class="maintenance__block">
            <ol class="maintenance__sublist">
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link maintenance__link--active">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
            </ol>
          </div>
        </li>
        <li class="maintenance__item">
          <button class="maintenance__btn">
            <span class="maintenance__btn-num"></span>
            Раціональні рівняння
            <div class="maintenance__icon">
              <svg class="maintenance__icon-svg">
                <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
              </svg>
            </div>
          </button>
          <div class="maintenance__block">
            <ol class="maintenance__sublist">
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link maintenance__link--active">
                  <span class="maintenance__btn-num"></span>
                  Множина. Елемент множини. Порожня множина.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Підмножина. Переріз і об'єднання множин. Круги Ейлера.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Операції над множинами.
                </a>
              </li>
              <li class="maintenance__subitem">
                <a href="#" class="maintenance__link">
                  <span class="maintenance__btn-num"></span>
                  Числові множини. Взаємно однозначна відповідність між елементами множин.
                </a>
              </li>
            </ol>
          </div>
        </li>
        <li class="maintenance__item">
          <button class="maintenance__btn">Контрольна робота за І семестр</button>
        </li>
      </ol>
    </div>
  </div>
</div>
