<div class="modal reset-password">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        <h2 class="modal__title">Відновлення паролю</h2>

        <div class="modal__wrapper">
          <form class="modal__form">
            <div class="modal__field field">
              <label class="field__label" for="form[password]">Пароль</label>
              <div class="field__wrapper">
                <input
                  type="password"
                  id="form[password]"
                  class="field__input input"
                  placeholder="Пароль"
                  data-input
                  required
                />
                <svg class="field__icon">
                  <use xlink:href="img/sprite.svg#warn"></use>
                </svg>
              </div>
            </div>
            <p class="modal__text">
              Введіть електронну адресу, пов’язану з вашим обліковим записом, і ми надішлемо електронний лист із
              інструкціями щодо зміни вашого пароля.
            </p>
            <button class="modal__btn modal__btn--stroke btn btn--accent">
              <svg class="btn__icon">
                <use xlink:href="img/sprite.svg#refresh"></use>
              </svg>
              Відновити пароль
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
