<div class="modal rotate modal--open modal--big">
  <div class="modal__body">
    <div class="modal__content">
      <div class="modal__main">
        <button class="modal__close">
          <svg class="modal__close-svg">
            <use xlink:href="img/sprite.svg#close"></use>
          </svg>
        </button>
        <button class="modal__back">
          <svg class="modal__back-svg">
            <use xlink:href="img/sprite.svg#arrow-back"></use>
          </svg>
        </button>

        <svg class="modal__logo">
          <use xlink:href="img/sprite.svg#full-logo"></use>
        </svg>
        <h2 class="modal__title">Обрізати й обернути</h2>

        <div class="modal__wrapper">
          <div class="modal__settings">
            <img src="img/static/avatar.jpg" alt="" />
          </div>

          <button class="modal__rotate">
            <svg>
              <use xlink:href="img/sprite.svg#rotate"></use>
            </svg>
            Обернути
          </button>
          <button class="modal__btn btn btn--accent">ок</button>
        </div>
      </div>
    </div>
  </div>
</div>
