.load-avatar {
  display: flex;
  align-items: flex-start;
  gap: rem(20);

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }

  &__image {
    @include flex-all-center;

    margin-bottom: rem(10);
    border-radius: 50%;
    width: rem(129);
    height: rem(129);
    background-color: var(--bg);
    cursor: pointer;

    &-svg {
      display: block;
      width: rem(52);
      height: rem(52);
      fill: var(--grey-3);
      opacity: 0.3;
    }
  }

  &__add {
    opacity: 0.5;
    cursor: pointer;
  }

  &__warn {
    margin-top: rem(35);
    border-radius: rem(5);
    padding: rem(10);
    background-color: var(--orange-50);
  }

  &__top {
    @include flex-v-center;

    margin-bottom: rem(4);
    font-weight: 500;
    font-size: rem(16);
    color: var(--red);
    gap: rem(5);
  }

  &__text {
    color: var(--grey-3);
  }
}

// @include mq('sm') {
//   .load-avatar {
//     &__warn {
//       margin-top: rem(25);
//     }
//   }
// }

@include mq('xs') {
  .load-avatar {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(20);

    &__warn {
      margin: 0;
      width: 100%;
    }
  }
}
