.progress {
  @include flex-v-center;

  font-weight: 500;
  font-size: rem(13);
  line-height: 1;
  gap: rem(16);

  &-line {
    flex: 1;
    overflow: hidden;
    border-radius: rem(5);
    height: rem(2);
    background-color: var(--grey-5);

    span {
      display: block;
      border-radius: rem(5);
      height: 100%;
      background-color: var(--blue-400);
      transition: width 0.2s ease;
    }
  }
}
