.subject-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: rem(10);
  padding: rem(28) rem(20);
  width: 100%;
  gap: rem(30);

  &__left {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__title {
    font-weight: 600;
    font-style: normal;
    font-size: rem(26);
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--black);
  }

  &__info {
    @include flex-v-center;

    column-gap: rem(32);
    flex-wrap: wrap;
    row-gap: rem(16);
  }

  &__teacher {
  }

  &__marks {
    @include flex-v-center;

    column-gap: rem(20);
    flex-wrap: wrap;
    row-gap: rem(8);
  }

  &__mark {
    @include flex-v-center;

    font-weight: 400;
    font-style: normal;
    font-size: rem(14);
    line-height: 1.2;
    color: var(--grey-3);
    gap: rem(5);

    span {
      font-weight: 500;
      color: var(--black);
    }
  }

  &__icon {
    width: rem(100);
    height: rem(100);
    opacity: 0.3;
  }

  &__description {
    max-width: rem(738);
    line-height: 1.2;
    color: var(--grey-3);
  }

  &--purple {
    background-color: #e8e0ff;

    .subject-card__icon {
      fill: #9c7df6;
    }
  }

  &--blue {
    background-color: #c8d9fd;

    .subject-card__icon {
      fill: #7d98f6;
    }
  }

  &--red {
    background-color: #ffe0e0;

    .subject-card__icon {
      fill: #f67d7d;
    }
  }

  &--green {
    background-color: #e0fff0;

    .subject-card__icon {
      fill: #7df6d2;
    }
  }

  &--orange {
    background-color: #ffefe0;

    .subject-card__icon {
      fill: #f6b77d;
    }
  }
}

@include mq('lg') {
  .subject-card {
    padding: rem(16);

    &__description {
      display: none;
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      font-size: rem(18);
      line-height: 1.2;
    }

    &__marks {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(8);
    }

    &__icon {
      width: rem(52);
      height: rem(52);
    }
  }
}
