.base-layout {
  display: flex;
  overflow: hidden;
  min-height: 100%;

  .main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding-left: rem(60);
    min-width: 0;
    transition: padding-left 0.2s ease;

    &--active {
      padding-left: rem(235);
    }
  }
}

@include mq('lg') {
  .base-layout {
    display: block;

    .main {
      padding-left: 0;
      height: calc(var(--app-height) - rem(73));

      &--active {
        // 73 - aside
        padding-left: 0;
      }
    }

    .footer {
      display: none;
    }
  }
}
