<aside class="aside aside--main aside--hide">
  <div class="aside__wrapper">
    <button class="aside__btn" id="aside-btn">
      <svg class="aside__btn-svg">
        <use xlink:href="img/sprite.svg#aside-arrows"></use>
      </svg>
    </button>

    <div class="aside__top">
      <a href="/" class="aside__logo">
        <svg
          class="aside__top-svg"
          width="72"
          height="28"
          viewBox="0 0 72 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="aside__top-path"
            d="M13.3477 1.63601H17.6531V14.8604C17.6531 16.3453 17.2984 17.6445 16.5891 18.7582C15.8865 19.8718 14.9021 20.7402 13.636 21.3633C12.3699 21.9798 10.895 22.288 9.21129 22.288C7.52095 22.288 6.04273 21.9798 4.77663 21.3633C3.51054 20.7402 2.52616 19.8718 1.82351 18.7582C1.12086 17.6445 0.769531 16.3453 0.769531 14.8604V1.63601H5.07493V14.4925C5.07493 15.2681 5.24396 15.9575 5.58203 16.5607C5.92673 17.1639 6.41063 17.6379 7.03374 17.9826C7.65684 18.3273 8.38269 18.4996 9.21129 18.4996C10.0465 18.4996 10.7724 18.3273 11.3889 17.9826C12.012 17.6379 12.4925 17.1639 12.8306 16.5607C13.1753 15.9575 13.3477 15.2681 13.3477 14.4925V1.63601Z"
            fill="#4F4F4F"
          />
          <path
            class="aside__top-path aside__top-path--hide"
            d="M25.3516 13.1701V21.9996H21.1158V6.72692H25.1527V9.42152H25.3317C25.6697 8.53326 26.2365 7.83061 27.032 7.31357C27.8274 6.78989 28.7919 6.52806 29.9254 6.52806C30.986 6.52806 31.9107 6.76006 32.6996 7.22408C33.4884 7.68809 34.1016 8.35097 34.5391 9.21271C34.9766 10.0678 35.1953 11.0887 35.1953 12.2752V21.9996H30.9595V13.0309C30.9661 12.0962 30.7275 11.3671 30.2436 10.8434C29.7597 10.3131 29.0935 10.0479 28.245 10.0479C27.675 10.0479 27.1712 10.1706 26.7337 10.4158C26.3028 10.6611 25.9647 11.0191 25.7195 11.4897C25.4808 11.9537 25.3582 12.5139 25.3516 13.1701Z"
            fill="#4F4F4F"
          />
          <path
            class="aside__top-path aside__top-path--hide"
            d="M38.5337 21.9996V6.72692H42.7695V21.9996H38.5337ZM40.6616 4.75817C40.0318 4.75817 39.4916 4.54936 39.0408 4.13175C38.5967 3.70751 38.3746 3.2004 38.3746 2.61044C38.3746 2.02711 38.5967 1.52663 39.0408 1.10902C39.4916 0.684778 40.0318 0.472656 40.6616 0.472656C41.2913 0.472656 41.8282 0.684778 42.2724 1.10902C42.7231 1.52663 42.9485 2.02711 42.9485 2.61044C42.9485 3.2004 42.7231 3.70751 42.2724 4.13175C41.8282 4.54936 41.2913 4.75817 40.6616 4.75817Z"
            fill="#4F4F4F"
          />
          <path
            class="aside__top-path aside__top-path--hide"
            d="M54.2862 6.72692V9.90874H45.0888V6.72692H54.2862ZM47.1768 3.06783H51.4126V17.3065C51.4126 17.6976 51.4723 18.0025 51.5916 18.2212C51.7109 18.4334 51.8767 18.5825 52.0888 18.6687C52.3075 18.7549 52.5594 18.7979 52.8445 18.7979C53.0433 18.7979 53.2422 18.7814 53.4411 18.7482C53.6399 18.7085 53.7924 18.6786 53.8984 18.6587L54.5646 21.8107C54.3525 21.877 54.0542 21.9532 53.6697 22.0394C53.2853 22.1322 52.8179 22.1886 52.2678 22.2085C51.2469 22.2482 50.352 22.1123 49.5831 21.8008C48.8208 21.4892 48.2275 21.0053 47.8033 20.3491C47.379 19.6928 47.1702 18.8642 47.1768 17.8633V3.06783Z"
            fill="#4F4F4F"
          />
          <path
            class="aside__top-path aside__top-path--hide"
            d="M59.6605 27.7269C59.1236 27.7269 58.6198 27.6838 58.1491 27.5977C57.6851 27.5181 57.3007 27.4154 56.9957 27.2894L57.9503 24.1275C58.4474 24.2799 58.8949 24.3628 59.2926 24.3761C59.697 24.3893 60.045 24.2965 60.3366 24.0977C60.6349 23.8988 60.8769 23.5607 61.0625 23.0835L61.3111 22.4371L55.8324 6.72692H60.2869L63.4489 17.9428H63.608L66.7997 6.72692H71.2841L65.348 23.6502C65.063 24.4722 64.6752 25.1881 64.1847 25.7979C63.7008 26.4144 63.0876 26.8884 62.3452 27.2198C61.6027 27.5579 60.7079 27.7269 59.6605 27.7269Z"
            fill="#4F4F4F"
          />
          <path
            class="aside__top-path aside__top-path--hide"
            d="M40.6619 4.75817C40.0322 4.75817 39.492 4.54936 39.0412 4.13175C38.5971 3.70751 38.375 3.2004 38.375 2.61044C38.375 2.02711 38.5971 1.52663 39.0412 1.10902C39.492 0.684778 40.0322 0.472656 40.6619 0.472656C41.2917 0.472656 41.8286 0.684778 42.2727 1.10902C42.7235 1.52663 42.9489 2.02711 42.9489 2.61044C42.9489 3.2004 42.7235 3.70751 42.2727 4.13175C41.8286 4.54936 41.2917 4.75817 40.6619 4.75817Z"
            fill="#4F4F4F"
          />
        </svg>
      </a>
    </div>
    <nav class="aside__navigation nav">
      <ul class="nav__list">
        <li class="nav__item nav__item--home">
          <a href="#" class="nav__link nav__link--active">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#group"></use>
            </svg>

            <span class="nav__link-text">Головне</span>
          </a>
        </li>
        <li class="nav__item nav__item--wallet">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#wallet"></use>
            </svg>

            <span class="nav__link-text">Гаманець</span>
          </a>
        </li>
        <li class="nav__item nav__item--childrens">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#childrens"></use>
            </svg>

            <span class="nav__link-text">Діти</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#chat"></use>
            </svg>

            <span class="nav__link-text">Чаты</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__link-svg">
              <use xlink:href="img/sprite.svg#statistics"></use>
            </svg>

            <span class="nav__link-text">Статистика</span>
          </a>
        </li>
        <li class="nav__item">
          <div class="nav__accordion">
            <div class="nav__top">
              <a href="#" class="nav__link">
                <svg class="nav__link-svg">
                  <use xlink:href="img/sprite.svg#book"></use>
                </svg>
                <span class="nav__link-text">Предмети</span>
              </a>
              <button class="nav__open" aria-expanded="false" aria-label="Відкрити меню">
                <svg class="nav__open-arrow">
                  <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
                </svg>
              </button>
            </div>
            <div class="nav__down">
              <ul class="nav__sublist">
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Англ. мова </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Всесвітня історія </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Історія України </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Математика </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Малювання </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. мова </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. література </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізкультура </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізика </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav__item">
          <div class="nav__accordion">
            <div class="nav__top">
              <a href="#" class="nav__link">
                <svg class="nav__link-svg">
                  <use xlink:href="img/sprite.svg#cours"></use>
                </svg>
                <span class="nav__link-text">Курси</span>
              </a>
              <button class="nav__open" aria-expanded="false" aria-label="Відкрити меню">
                <svg class="nav__open-arrow">
                  <use xlink:href="img/sprite.svg#arrow-down-mini"></use>
                </svg>
              </button>
            </div>
            <div class="nav__down">
              <ul class="nav__sublist">
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Основи образотворчого мистецтва </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Всесвітня історія </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Історія України </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Математика </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Малювання </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. мова </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Укр. література </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізкультура </a>
                </li>
                <li class="nav__subitem">
                  <a href="#" class="nav__sublink"> Фізика </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <div class="nav__tip tip">
        <div class="tip__wrapper">
          <button class="tip__button">
            <svg class="tip__button-svg">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
          <div class="tip__top">
            <img src="img/static/tip.svg" alt="tip" />
          </div>
          <div class="tip__content">
            <h2 class="tip__title">Підказка для вас</h2>
            <p class="tip__description">
              Щоб бути завжди в курсі своєї успішності — заходь у розділ “Статистика”. Там наведені всі твої оцінки за
              семестри, а також твою успішність по кожному предмету.
            </p>
          </div>
        </div>
      </div>
    </nav>
  </div>
</aside>
